{
   "trailingComma": "all",
   "tabWidth": 3,
   "semi": true,
   "singleQuote": true,
   "printWidth": 130,
   "endOfLine": "auto",
   "bracketSpacing": true,
   "arrowParens": "always",
   "bracketSameLine": false,
   "htmlWhitespaceSensitivity": "ignore",
   "singleAttributePerLine": false,
   "plugins": ["prettier-plugin-tailwindcss"]
}
